{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hello World!</h1>

    <textarea id="input" cols="50" rows="10"></textarea>
    <textarea id="output" cols="50" rows="10"></textarea>
    <a id="submit" href="javascript:">Submit</a>
{% endblock %}

{% block javascripts %}
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}
